    p {
        font-family: Roboto, Arial;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    body {
        margin: 0;
        padding-top: 80px;
        padding-left: 80px;
    }

    .video-time {
        font-family: Roboto, Arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;
        background-color: black;
        color: white;
        position:absolute;
        bottom: 8px;
        right: 5px;
    }